#box1{
    width: 200px;
    height: 200px;
    background-color: rgb(176, 118, 229);
    border-radius: 20px 20px 0 0;
}
#box2{
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 20px 20px 0 0;
}
.boxes{
    width: 200px;
    height: 300px;
    background-color: white;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px black;
    transition: all 1 ease;
}
.boxes:hover{
    box-shadow: -5px 5px 15px black;
    transform: scale(1.05);
}
.data{
    padding-left: 10px;
}