<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating new post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <form method="post" action="/posts">
        <label for="username"><b>Username: </b></label>
        <input type="text" placeholder="Enter username" name="username" id="username">
        <br>
        <br>
        <label for="content"><b>Content: </b></label>
        <textarea placeholder="content" name="content" id="content" ></textarea>
        <br>
        <br>
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>