#mainHeading{
    text-align: center;
}

#subHeading{
    text-align: center;
}

.mainDiv{
    margin-left: auto;
    margin-right: auto;
    height: 53vh;
    width: 53vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.subDivs{
    height: 25vh;
    width: 25vh;
    border:0.6vh solid black;
    border-radius:2vh;
}

#div1{
    background-color: #d45075;
}

#div2{
    background-color: #58a0b9;
}

#div3{
    background-color: #fa903c;
}

#div4{
    background-color: #7794f8;
}

.blink {
  animation: blink 0.1s alternate 1; /* 5 times blink */
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}