<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>User ID: <%=userarr.id%></h2>
    <h3>Email : <%=userarr.email%></h3>
    <form method="post" action="/user/<%=userarr.id%>?_method=PATCH">
        <label for="username">Username: </label>
        <textarea name="username" id="username"><%=userarr.username%></textarea>
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>