<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <form method="post" action="http://localhost:1999/chats/<%=dat.id%>?_method=PUT">
        <label for="from">From: </label>
        <textarea name="from" id="from" rows="1" required disabled><%=dat.from%></textarea>
        <br>
        <label for="content">Message: </label>
        <textarea name="content" id="content" rows="1" required><%=dat.content%></textarea>
        <br>
        <label for="to">To: </label>
        <textarea name="to" id="to" rows="1" required disabled><%=dat.to%></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>